<div id="area_list">
  <!--  Table Utility -->
  <div class="row" style="margin-bottom:20px;">
    <div class="col-sm-4">
      Show
      <select v-model="paginate" @change="get_areas(pagination.current_page)">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
      entries
    </div>
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
      <div class="pull-right">
        <input type="text" v-model="query" value="" placeholder="Search ... " @keyup.enter="get_areas(pagination.current_page)">
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover table-condensed sortable" id="area_table">
      <thead>
        <tr>
          <th>Area name</th><th>Description</th><th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="area in areas">
          <td>{{area.name}}</td>
          <td>
            <span v-tooltip="area.description" v-if="area.description != null && area.description.length > 50">{{char_limit(area.description,50)}}</span>
            <span v-else>{{area.description}}</span>
          </td>
          <td>
            <button type="button" class="btn btn-default btn-sm" @click="edit_data(area)" v-tooltip="'Edit Area'"><i class="fa fa-pencil"></i></button>
            <button type="button" class="btn btn-danger btn-sm" @click="showModal = true, cur_id=area.id" v-tooltip="'Delete Area'"><i class="fa fa-trash"></i></button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Table Navigation -->
  <div class="row">
    <div class="col-sm-6">
      <p>Showing {{pagination.from}} to {{pagination.to}} of {{pagination.total}} entries</p>
    </div>
    <div class="col-sm-6">
      <nav class="pull-right">
          <ul class="pagination">
              <li v-if="pagination.current_page > 1">
                  <a href="javascript:void(0)" aria-label="First" @click.prevent="changePage(pagination.current_page = 1)">
                      <i class="fa fa-step-backward"></i>
                  </a>
              </li>
              <li v-if="pagination.current_page > 1">
                  <a href="javascript:void(0)" aria-label="Previous" @click.prevent="changePage(pagination.current_page - 1)">
                      <i class="fa fa-chevron-left"></i>
                  </a>
              </li>
              <li v-for="page in pagesNumber" v-bind:class="[page == isActived ? 'active' : '']">
                  <a href="#" @click.prevent="changePage(page)">{{page}}</a>
              </li>
              <li v-if="pagination.current_page < pagination.last_page">
                  <a href="javascript:void(0)" aria-label="Next" @click.prevent="changePage(pagination.current_page + 1)">
                      <i class="fa fa-chevron-right"></i>
                  </a>
              </li>
              <li v-if="pagination.current_page < pagination.last_page">
                  <a href="javascript:void(0)" aria-label="Last" @click.prevent="changePage(pagination.current_page = pagination.last_page)">
                      <i class="fa fa-step-forward"></i>
                  </a>
              </li>
          </ul>
      </nav>
    </div>
  </div>
  <confirm-dialog v-if="showModal" @close="showModal = false" @next_process="check_before_delete"></confirm-dialog>

</div>
