<div id="outlet_list">
  <!--  Table Utility -->
  <div class="row" style="margin-bottom:20px;">
    <div class="col-sm-4">
      Show
      <select v-model="paginate" @change="get_users(pagination.current_page)">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
      entries
    </div>
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
      <div class="pull-right">
        <input type="text" v-model="query" value="" placeholder="Search ... " @keyup="get_outlets(pagination.current_page)">
      </div>
    </div>
  </div>
  <!--  Table -->
  <div class="table-responsive">
      <table class="table table-hover table-condensed sortable" id="outlet_table">
        <thead>
          <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Market</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Status</th>
            <th>Registered by</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="outlet in outlets">
            <td>{{outlet.code}}</td>
            <td>{{outlet.name}}</td>
            <td><span v-if="outlet.market">{{outlet.market.name}}</span></td>
            <td>{{outlet.phone1}}</td>
            <td>{{outlet.email}}</td>
            <td>
              <span v-if="outlet.detail && outlet.detail.verified == 1">
                <span class="label label-success">Verified</span>
              </span>
              <span v-else-if="outlet.detail && outlet.detail.verified == 0 && role == 'supervisor'">
                <button class="btn btn-warning btn-sm" @click="showVerifyModal = true, cur_id=outlet.id" v-tooltip="'Verify this outlet'">
                  Verfify
                </button>
              </span>
              <span v-else>
                <span class="label label-default">Not verified</span>
              </span>
            </td>
            <td>
              <span v-if="outlet.detail.seller">
                <a href="javascript:void(0)" @click="show_seller(outlet.detail.seller.username)">{{outlet.detail.seller.name}}</a>
              </span>
            </td>
            <td>
              <button type="button" class="btn btn-default btn-sm" @click="show_outlet(outlet.code)" v-tooltip="'Show outlet'"><i class="fa fa-eye"></i></button>
              <button type="button" class="btn btn-danger btn-sm" @click="showModal = true, cur_id=outlet.id" v-tooltip="'Delete outlet'" v-if="canDelete"><i class="fa fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <!-- Table Navigation -->
  <div class="row">
    <div class="col-sm-6">
      <p>Showing {{pagination.from}} to {{pagination.to}} of {{pagination.total}} entries</p>
    </div>
    <div class="col-sm-6">
      <nav class="pull-right">
          <ul class="pagination">
              <li v-if="pagination.current_page > 1">
                  <a href="javascript:void(0)" aria-label="First" @click.prevent="changePage(pagination.current_page = 1)">
                      <i class="fa fa-step-backward"></i>
                  </a>
              </li>
              <li v-if="pagination.current_page > 1">
                  <a href="javascript:void(0)" aria-label="Previous" @click.prevent="changePage(pagination.current_page - 1)">
                      <i class="fa fa-chevron-left"></i>
                  </a>
              </li>
              <li v-for="page in pagesNumber" v-bind:class="[page == isActived ? 'active' : '']">
                  <a href="#" @click.prevent="changePage(page)">{{page}}</a>
              </li>
              <li v-if="pagination.current_page < pagination.last_page">
                  <a href="javascript:void(0)" aria-label="Next" @click.prevent="changePage(pagination.current_page + 1)">
                      <i class="fa fa-chevron-right"></i>
                  </a>
              </li>
              <li v-if="pagination.current_page < pagination.last_page">
                  <a href="javascript:void(0)" aria-label="Last" @click.prevent="changePage(pagination.current_page = pagination.last_page)">
                      <i class="fa fa-step-forward"></i>
                  </a>
              </li>
          </ul>
      </nav>
    </div>
  </div>
  <confirm-dialog v-if="showModal" @close="showModal = false" @next_process="delete_outlet"></confirm-dialog>
  <confirm-verify v-if="showVerifyModal" @close="showVerifyModal = false" @next_process="getVerified"></confirm-verify>

</div>
