<div id="transaction_list">
  <!--  Table Utility -->
  <div class="row" style="margin-bottom:20px;">
    <div class="col-sm-4">
      Show
      <select v-model="paginate" @change="get_transactions(pagination.current_page)">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
      entries
    </div>
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
      <div class="pull-right">
        <input type="text" v-model="query" value="" placeholder="Search ... " @keyup="get_transactions(pagination.current_page)">
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover table-condensed sortable" id="transaction_table">
      <thead>
        <tr>
          <th>Code</th>
          <th>Item</th>
          <th>Outlet</th>
          <th>Quantity</th>
          <th>Measurement</th>
          <th>Status</th>
          <th>Created at</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="t in transactions">
          <td>{{t.code}}</td>
          <td>
            <span v-if="t.item">{{t.item.name}}</span>
          </td>
          <td>
            <span v-if="t.outlet">{{t.outlet.name}}</span>
          </td>
          <td>{{t.qty}}</td>
          <td>
            <span v-if="t.item">{{t.item.measurement}}</span>
          </td>
          <td>
            <span v-if="t.verified" class="label label-success">Verified</span>
            <span v-else-if="!t.verified && role == 'supervisor'">
              <button class="btn btn-info btn-xs" @click="showVerifyModal = true, cur_id=t.id">Verify this</button>
            </span>
            <span v-else class="label label-default">Not Verified</span>
          </td>
          <td>{{ t.created_at | moment("DD MMM YYYY") }}</td>
          <td>
            <button type="button" class="btn btn-primary btn-sm" @click="show_transaction(t.code)" v-tooltip="'View Transaction'"><i class="fa fa-eye"></i></button>
            <button type="button" class="btn btn-danger btn-sm" @click="showModal = true, cur_id=t.id" v-tooltip="'Delete transaction'" v-if="!t.verified"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Table Navigation -->
  <div class="row">
    <div class="col-sm-6">
      <p>Showing {{pagination.from}} to {{pagination.to}} of {{pagination.total}} entries</p>
    </div>
    <div class="col-sm-6">
      <nav class="pull-right">
          <ul class="pagination">
              <li v-if="pagination.current_page > 1">
                  <a href="javascript:void(0)" aria-label="First" @click.prevent="changePage(pagination.current_page = 1)">
                      <i class="fa fa-step-backward"></i>
                  </a>
              </li>
              <li v-if="pagination.current_page > 1">
                  <a href="javascript:void(0)" aria-label="Previous" @click.prevent="changePage(pagination.current_page - 1)">
                      <i class="fa fa-chevron-left"></i>
                  </a>
              </li>
              <li v-for="page in pagesNumber" v-bind:class="[page == isActived ? 'active' : '']">
                  <a href="#" @click.prevent="changePage(page)">{{page}}</a>
              </li>
              <li v-if="pagination.current_page < pagination.last_page">
                  <a href="javascript:void(0)" aria-label="Next" @click.prevent="changePage(pagination.current_page + 1)">
                      <i class="fa fa-chevron-right"></i>
                  </a>
              </li>
              <li v-if="pagination.current_page < pagination.last_page">
                  <a href="javascript:void(0)" aria-label="Last" @click.prevent="changePage(pagination.current_page = pagination.last_page)">
                      <i class="fa fa-step-forward"></i>
                  </a>
              </li>
          </ul>
      </nav>
    </div>
  </div>
  <confirm-dialog v-if="showModal" @close="showModal = false" @next_process="delete_transaction"></confirm-dialog>
  <verify-dialog v-if="showVerifyModal" @close="showVerifyModal = false" @next_process="setVerify"></verify-dialog>


</div>
