<div id="insert_market_tem">
  <div class="modal modal-danger" id="insert_market">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
          <h4 class="modal-title">Insert Market Data</h4>
        </div>
        <div class="modal-body">
          <div class="form-group" :class="{'has-error': errors.has('name'), 'has-feedback': errors.has('name') }">
            <label for="name">Market Name</label>
            <input name="name" v-model="name" v-validate:name="'required|max:150'"
            data-vv-as="Market Name" type="text" class="form-control" placeholder="Market name"
            autofocus @keyup.enter="validateBeforeSubmit">
            <span v-show="errors.has('name')" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
            <span class="help-block">{{ errors.first('name') }}</span>
          </div>

          <div class="form-group">
            <label for="area">Area</label>
              <v-select label="name" :options="areas" v-model="area"></v-select>
              <p class="pull-right" style="margin-top: 8px;">
                <a href="javascript:void(0)" style="color: #fff;" @click="show_insert_form">
                  <i class="fa fa-plus"></i> Add Area
                </a>
              </p>
          </div>

          <div class="form-group">
            <label for="description">Address</label>
            <textarea name="address" v-model="address" class="form-control" placeholder="Address"></textarea>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" v-model="description" class="form-control" placeholder="Description"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-outline" @click="validateBeforeSubmit">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <area-form-modal></area-form-modal>
</div>
