<div id="seller_list">
  <div class="row" style="margin-bottom:20px;">
    <div class="col-sm-4">
      Show
      <select v-model="paginate" @change="get_sellers(pagination.current_page)">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
      entries
    </div>
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
      <div class="pull-right">
        <input type="text" v-model="query" value="" placeholder="Search ... " @keyup.enter="get_sellers(pagination.current_page)">
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover table-condensed sortable" id="seller_table">
      <thead>
        <tr>
          <th>Name</th><th>Email</th><th>Last Login</th><th>Roles</th><th>Status</th><th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="seller in sellers">
          <td>{{seller.name}}</td>
          <td>{{seller.email}}</td>
          <td>{{seller.last_login}}</td>
          <td>
            <span v-for="role in seller.roles">
              <span class="label label-default">{{role.name}}</span>

            </span>
          </td>
          <td>
            <span v-if="seller.is_active">Active</span>
            <span v-else>Not Active</span>
          </td>
          <td>
            <button type="button" class="btn btn-default btn-sm" @click="show_seller(seller.username)"><i class="fa fa-eye"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Table Navigation -->
  <div class="row">
    <div class="col-sm-6">
      <p>Showing {{pagination.from}} to {{pagination.to}} of {{pagination.total}} entries</p>
    </div>
    <div class="col-sm-6">
      <nav class="pull-right">
          <ul class="pagination">
              <li v-if="pagination.current_page > 1">
                  <a href="javascript:void(0)" aria-label="First" @click.prevent="changePage(pagination.current_page = 1)">
                      <i class="fa fa-step-backward"></i>
                  </a>
              </li>
              <li v-if="pagination.current_page > 1">
                  <a href="javascript:void(0)" aria-label="Previous" @click.prevent="changePage(pagination.current_page - 1)">
                      <i class="fa fa-chevron-left"></i>
                  </a>
              </li>
              <li v-for="page in pagesNumber" v-bind:class="[page == isActived ? 'active' : '']">
                  <a href="#" @click.prevent="changePage(page)">{{page}}</a>
              </li>
              <li v-if="pagination.current_page < pagination.last_page">
                  <a href="javascript:void(0)" aria-label="Next" @click.prevent="changePage(pagination.current_page + 1)">
                      <i class="fa fa-chevron-right"></i>
                  </a>
              </li>
              <li v-if="pagination.current_page < pagination.last_page">
                  <a href="javascript:void(0)" aria-label="Last" @click.prevent="changePage(pagination.current_page = pagination.last_page)">
                      <i class="fa fa-step-forward"></i>
                  </a>
              </li>
          </ul>
      </nav>
    </div>
  </div>

</div>
